# Per https://stackoverflow.com/questions/43658870/requirements-txt-vs-setup-py

# If ecephys exists as a sibling folder, and you wish to satisfy
# the dependency on ecephys using this local, editable copy of the source,
# you can uncomment the line below.
# -e ../ecephys

# installs dependencies from ./setup.py, and the package itself,
# in editable mode
-e .

# (the -e above is optional). you could also just install the package
# normally with just the line below (after uncommenting)
# .